<div class="footer">
  <div>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <ul>
      <li><a href="#"><img src="https://res.cloudinary.com/swy/image/upload/v1500279538/images/mail.svg"></a></li>
      <li><a href="#"><img src="https://res.cloudinary.com/swy/image/upload/v1500279538/images/facebook.svg"></a></li>
      <li><a href="#"><img src="https://res.cloudinary.com/swy/image/upload/v1500279538/images/twitter.svg"></a></li>
      <li><%= link_to "Admin Login", new_admin_session_path, class:'btn btn-primary pull-right' %></li>
    </ul>
    <ul>
      <li>cheekChubby ©</li>
    </ul>
  </div>
</div>