
   <% if current_user %>
    Logged In as <%= current_user.username %>
    <div>
      <%= link_to 'Log Out', admin_logout_path, class:'btn btn-cancel pull-right' %>
    </div>
  <% else %>
    <div>
      <%= link_to "User Login", new_session_path, class:'btn btn-primary pull-right' %>
      <%= link_to "Sign Up", new_user_path, class:'btn btn-info pull-left' %>
    </div>
  <% end %>

  <div class='home-pager'> 
    <ab class='home-header'>cheekChubby!</ab>
    <h3>Read, Post, Comment, and Engage With The World Around You.</h3>
  </div>
   

  <img class='home-image'src="https://res.cloudinary.com/swy/image/upload/v1503359211/cheekchubbyhomepage_e2iukc.jpg" alt="">



