<h1 style="color:tomato;text-align:center;">Home#page</h1>
<p style="text-align:center;">Find me in app/views/home/page.html.erb</p>
<h2 class="page-header"><%= link_to "Sign Up", new_admin_user_path, class:'btn btn-info pull-right' %></h2>
<h2 class="page-header"><%= link_to "Login", new_admin_session_path, class:'btn btn-primary pull-right' %></h2>
